<section id="bienvenido">
  <header class="encabezado fixed-top" role="banner">
    <div class="container">
      <a href="/index" class="logo">
                    <img src="../assets/images/logo.svg" alt="Logo Preescolar Carlos Pellicer Cámara" id="logo">
                </a>

      <button type="button" class="boton-sign-in hidden-lg-up" data-toggle="collapse" data-target="#bloque-buscar" aria-expanded="false">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                </button>

      <!-- <button type="button" class="boton-menu hidden-lg-up" data-toggle="collapse" data-target="#menu-principal" aria-expanded="false">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button> -->

      <form id="bloque-buscar" class="collapse" (onSubmit)="submit()" [formGroup]="form">
        <div class="container form-group">
          <p class="text-left">Introduzca sus datos:</p>
          <input type="email" class="form-control" id="inputuser" placeholder="Usuario" formControlName="email" >
          <input type="password" class="form-control" id="inputpassword" placeholder="Contraseña" formControlName="password">
          <input type="submit" value="Entrar" class="btn btn-primary btn-block">
        </div>
      </form>

      <nav id="menu-principal" class="collapse">
        <ul class="menu-principal">
          <li  routerLinkActive="active"><a [routerLink]="['inicio']">Inicio</a></li>
          <li  routerLinkActive="active"><a [routerLink]="['nosotros']">Nosotros</a></li>
          <li  routerLinkActive="active"><a [routerLink]="['contacto']">Contacto</a></li>
          <li  routerLinkActive="active"><a [routerLink]="['blog']">Blog</a></li>
          <li  routerLinkActive="active"><a [routerLink]="['iniciar-sesion']">Iniciar Sesión</a></li>

        </ul>
      </nav>
    </div>
  </header>
</section>
