<section class="imagen-nosotros">
    <div class="container text-center texto-encabezado">
        <h2 class="nosotros wow zoomIn">Nosotros</h2>
        <p class="wow rollIn">¿Quienes somos? El mejor preescolar</p>
    </div>
</section>

<section class="trabajamos">
    <div class="container">
        <div class="row ">
            <div class="col-md-8">
                <h2 class="text-center text-md-left">Trabajamos para tu familia</h2>
                <p class="text-justify">El Instituto Educativo Carlos Pellicer Cámara se fundó en el año 2008 debido a la necesitad de un preescolar de calidad en la zona oriente de la ciudad de León, Guanajuato. En el Instituto Educativo Carlos Pellicer Cámara se ofrece una educación preescolar bilingüe.</p>
                <p class="text-justify">Nosotros creemos ﬁrmemente que cada niño es único y crecerá a su propio ritmo, por lo cual ofrecemos una atención personal que favorezca el desarrollo y formación de ciudadanos que sean de provecho para la sociedad mexicana. El desarrollo familiar es uno de los objetivos principales de nuestra institución, por lo cual ofrecemos cursos y talleres sabatinos que cualquier integrante de tu familia podrá ser beneﬁciado con ellos. </p>
            </div>

            <img src="./assets/images/familia.svg" alt="En Preescolar Carlos Pellicer tu familia es lo más importante." class="col-md-4 wow pulse">
        </div>
    </div>
</section>

<section class="educacion">

    <h2 class="titulo text-center font-weight-bold">Educación que genera cambios</h2>

    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
                <h2 class="text-center">Misión</h2>
                <p class="text-justify">Proporcionar a los niños las condiciones ideales para un desarrollo óptimo, formando personas libres, seguras, responsables, audaces, con la capacidad de amar, respetuosas, creativas, seguras de si mismas, fomentándoles valores y hábitos que les servirán para su continua formación, siendo capaces de disfrutar su aprendizaje y participen en la sociedad.</p>
            </div>
            <div class="col-md-6">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <h2>Visión</h2>
                <p class="text-justify">Ser un preescolar que brinde en su totalidad las condiciones necesarias para darles a los alumnos una formación integral, generar habilidades y motivar sus capacidades para que puedan desenvolverse de acuerdo a su contexto social, educativo y familiar; formando una comunidad educativa capacitada para ofrecer un servicio de calidad, excelencia y que esté a la vanguardia, integrando a los padres de familia en este proceso de formación.</p>
            </div>
        </div>

        <i class="fa fa-heart" aria-hidden="true"></i>
        <h2>Valores</h2>
        <div class="row valores">
            <ul class="col-md-6 col-lg-4">
                <li>
                    <h3 class="text-md-left">Amor</h3>
                    <p>Fomentar en los menores el amor a si mismo, a la familia, a la institución, a la naturaleza, a los animales y al planeta.</p>
                </li>
                <li>
                    <h3 class="text-md-left">Responsabilidad</h3>
                    <p>Enseñar a los alumnos y actores educativos el compromiso de su labores escolares, así como a asumir las consecuencias de sus decisiones.</p>
                </li>
                <li>
                    <h3 class="text-md-left">Respeto</h3>
                    <p>Fomentar en los niños el reconocimiento, aceptación, apreciación y valoración de las cualidades de los demás.​</p>
                </li>
            </ul>

            <img src="./assets/images/kid-happy.svg" alt="Tu hijo será feliz en nuestro preescolar" class="col-lg-4 hidden-md-down wow bounceInUp">


            <ul class="col-md-6 col-lg-4">
                <li>
                    <h3 class="text-md-right">Tolerancia</h3>
                    <p>Promover en la comunidad educativa la capacidad de escuchar y comprender las distintas formas de entender la vida.​</p>
                </li>
                <li>
                    <h3 class="text-md-right">Honestidad</h3>
                    <p>Impulsar en los alumnos y personas el mostrarse en su manera de obrar y pensar, como justos, rectos e íntegros.</p>
                </li>
                <li>
                    <h3 class="text-md-right">Creatividad</h3>
                    <p>Ayudar a los niños a liberar el potencial de creatividad que poseen.</p>
                </li>
            </ul>
        </div>

    </div>
</section>
