/* You can add global styles to this file, and also import other style files */

@charset "UTF-8";
html {
  font-size: 15px; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #111111; }

.bienvenido {
  background: url("./assets/images/fondo-encabezado.jpg") no-repeat center top;
  color: #fff;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column; }

.encabezado {
  background: #111111;
  color: #fff;
  padding: 1rem 0 1rem 0;
  transition: all 1s; }

.encabezado .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

.encabezado .logo img {
  width: 150px;
  height: auto; }

.fondo-menu {
  background: #196c9c; }

.boton-menu,
.boton-sign-in {
  background: transparent;
  color: #fff;
  border: 0;
  font-size: 2rem;
  padding: 0.5rem;
  margin: 0; }

.boton-menu:focus,
.boton-sign-in:focus {
  background: transparent;
  color: #fff;
  border: 0;
  font-size: 2rem;
  padding: 0.5rem;
  margin: 0;
  outline: 0; }

.boton-sign-in,
.boton-sign-in:focus {
  margin-left: auto;
  margin-right: 0.8rem; }

#menu-principal {
  flex: 1 1 100%; }

#menu-principal ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0; }

#menu-principal ul a {
  display: block;
  padding: 0.8rem 0;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-top: 1px solid #fff; }

#menu-principal ul a:hover,
#menu-principal ul li.active a {
  display: block;
  padding: 0.8rem 0;
  text-align: center;
  text-transform: uppercase;
  color: #1f89c7;
  border-top: 1px solid #fff;
  text-decoration: none; }

#bloque-buscar p {
  margin-bottom: 0; }

#bloque-buscar input {
  margin-top: 10px; }

.texto-encabezado {
  flex: 1 1 auto;
  display: flex;
  align-items: center; }

.texto-encabezado .btn-primary a {
  color: #fff;
  text-decoration: none; }

.texto-encabezado .btn-primary {
  margin-top: 1rem;
  background-color: #1f89c7;
  border-color: #1f89c7; }

.texto-encabezado .btn-primary:hover {
  background-color: #ff521b;
  border-color: #ff521b; }

.flecha-bajar a {
  display: inline-block;
  color: #fff;
  font-size: 4rem;
  animation: flecha-animada 2s ease-in-out infinite; }

@keyframes flecha-animada {
  from {
    transform: translateY(0); }

  50% {
    transform: translateY(6px); }

  to {
    transform: translateY(0); } }

/*------------------------
Sección TU MEJOR PREESCOLAR
------------------------*/
.mejor-preescolar {
  background: #1f89c7;
  color: #fff; }

.mejor-preescolar p {
  text-align: justify; }

.rotateMe {
  transition: transform 1s ease-out; }

.rotateMe:hover {
  transform: rotate(360deg); }

/*--------------------------------
Sección Tu mejor Elección
--------------------------------*/
.tu-mejor-eleccion span {
  color: #ff521b; }

.tu-mejor-eleccion ul {
  list-style: none; }

.tu-mejor-eleccion ul .fa {
  font-size: 2rem;
  background: #1f89c7;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  color: #fff;
  transition: all 1s ease; }

.tu-mejor-eleccion ul li:hover .fa {
  transform: rotateY(360deg);
  transform-style: preserve-3d;
  background: #196c9c; }

.tu-mejor-eleccion ul h5 {
  font-weight: bold;
  margin-top: 0.8rem; }

.tu-mejor-eleccion ul li {
  min-height: 9rem; }

.tu-mejor-eleccion a {
  color: #fff;
  text-decoration: none; }

.tu-mejor-eleccion button:hover {
  color: #fff;
  background: #ff521b;
  border-color: #ff521b; }

.imagen-medio {
  display: flex;
  flex-direction: column;
  justify-content: center; }

/*------------------------
Sección Pie de Página
------------------------*/
.pie-de-pagina {
  background: #1f89c7;
  color: #fff; }

.pie-de-pagina h4 {
  font-family: 'Arima Madurai', cursive;
  font-size: 1.5rem; }

.pie-de-pagina ul {
  list-style: none; }

.pie-de-pagina ul i {
  font-size: 3rem; }

.pie-de-pagina span {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center; }

.pie-de-pagina p {
  margin-top: 0;
  margin-bottom: 0; }

.pie-de-pagina a {
  text-decoration: none;
  color: #fff; }

.telefono {
  display: flex;
  justify-content: center;
  background: #ff521b; }

.telefono:hover {
  display: flex;
  justify-content: center;
  background: #ffc21b;
  border-color: #ffc21b; }

.telefono .fa {
  font-size: 1.5rem; }

.telefono span {
  margin-left: 1rem; }

.boton-telefono {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.texto-encabezado {
  display: flex;
  flex-direction: column;
  justify-content: center; }

/* -----------------------------------
Para tamaño Medio (TABLET)
------------------------------------*/
@media (min-width: 768px) {
  .iniciar-sesion,
  .iniciar-sesion:focus {
    margin-left: auto;
    background: transparent;
    color: #fff;
    border-color: transparent;
    font-size: 1.3rem;
    outline: 0; }

  .bienvenido {
    background: url("./assets/images/fondo-encabezado-lg.jpg") no-repeat center top;
    color: #fff;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column; } }
/* -----------------------------------
Para tamaño Grande y Extra grande (TABLET)
------------------------------------*/
@media (min-width: 992px) {
  #menu-principal {
    height: 100% !important;
    display: block; }

  #menu-principal ul a {
    display: block;
    padding: 0.8rem 0.8rem 0.6rem;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    border-top: 0;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 0.5rem;
    transition: all 0.3s ease; }

  #menu-principal ul a:hover {
    display: block;
    padding: 0.8rem 0.8rem 0.6rem;
    text-align: center;
    text-transform: capitalize;
    color: #1f89c7;
    border-top: 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 5px solid #1f89c7;
    margin-right: 0.5rem; }

  #menu-principal ul li.active a {
    display: block;
    padding: 0.8rem 0.8rem 0.6rem;
    text-align: center;
    text-transform: capitalize;
    color: #1f89c7;
    border-bottom: 5px solid #1f89c7;
    border-top: 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 0.5rem; }

  ul.menu-principal {
    display: flex;
    margin: 0; }

  button.hidden-sm-down.iniciar-sesion.collapsed {
    height: 100% !important;
    flex: 1 1 100%; }

  nav#menu-principal {
    flex: 0 1 auto;
    margin-left: auto; }

  #menu-principal ul {
    list-style: none;
    padding: 0;
    margin: 0; }

  form#bloque-buscar {
    order: 2;
    background: #111111;
    position: absolute;
    width: 20rem;
    right: 1rem;
    border-radius: 15px;
    top: 3.5rem;
    font-size: 1.3rem; }

  .container.form-group input {
    font-size: 1.2rem; }

  .tu-mejor-eleccion ul li {
    min-height: 9rem;
    display: flex; }

  .tu-mejor-eleccion ul .fa {
    font-size: 2rem;
    background: #1f89c7;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    color: #fff;
    text-align: center;
    flex: 1 0 auto; }

  .tu-mejor-eleccion .texto-izquierda li i {
    order: 2; }

  .tu-mejor-eleccion ul h5 {
    margin-top: 0; }

  .social {
    display: flex;
    margin: auto 0;
    justify-content: flex-end; }

  .texto-encabezado .btn-primary {
    margin-top: 10rem; }

  .texto-encabezado p {
    font-size: 1.2rem; } }
