<footer class="pie-de-pagina py-3" role="footer">
    <h4 class="h3 text-center font-weight-bold hidden-lg-up ">Preescolar Carlos Pellicer Cámara</h4>
    <div class="container text-center text-lg-left">
        <div class="row">

            <div class="col-lg-4">
                <p>De la Espátula #102 Col. Paraíso Real C.P. 37294</p>
                <p>León, Guanajuato, México</p>

                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:preecarlos_pellicer@hotmail.com">preecarlos_pellicer@hotmail.com</a>

                <br>

                <i class="fa fa-phone hidden-md-down" aria-hidden="true"></i>
                <a href="tel::+524773915488" class="hidden-md-down">(477) 391 54 88</a>


                <div class="row hidden-lg-up">
                    <div class="col-12 boton-telefono">
                        <a href="tel:+524773915488">
                            <button class="telefono text-center btn btn-primary btn-lg">
                                <span class="fa fa-phone align-middle" aria-hidden="true"></span>
                                <span>(477) 391 54 88</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <img src="../assets/images/logo.svg" alt="Logo Preescolar Carlos Pellicer Cámara" class="hidden-md-down col-lg-4">

            <ul class="col-lg-4 social">
                <div class="row">
                    <li class="col-4">
                        <a href="https://twitter.com/kinder_pellicer" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>

                    </li>
                    <li class="col-4">
                        <a href="https://www.facebook.com/kinderpellicer/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    </li>
                    <li class="col-4">
                        <a href="https://www.youtube.com/channel/UC9IadMO-N_qrKPKea8vV8Ew" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
                    </li>
                </div>
            </ul>


        </div>
    </div>
</footer>



<script type="text/javascript">
    new WOW().init();
    smoothScroll.init();

    /*---------------------------------
       CABECERA ANIMADA
     ----------------------------------*/
    $(window).scroll(function() {

        var nav = $('.encabezado');
        var scroll = $(window).scrollTop();

        if (scroll >= 100) {
            nav.addClass("fondo-menu");
        } else {
            nav.removeClass("fondo-menu");
        }
    });
</script>
